---
layout: default
---

<section id="introduction">

  <div class="row">

    <div class="col-md-offset-2 col-md-7">

      <p>A lifelong resident of New Rochelle, President and founder Nick Parente brings nearly three decades of industry experience to every job. His knowledge and expertise form the foundation on which Parente Painting has been built. He believes that a strong focus on customer satisfaction is paramount, and strives to exceed his clients' expecations on every project.</p>
      <p>Since 1988, Parente Painting has committed itself to providing the highest-quality painting, wall covering, and restorative services to the greater West Chester Area. We take pride in our work and in bringing your vision to life - whether it be a simple touchup, restoration, or complete redesign. Our 25 years of industry experience means we'll get your job done right, on budget, and on time, no matter how large or small.</p>
      <p>Our Services Include:<br>
      <ul>
        <li>Interior &amp; Exterior Painting</li>
        <li>Wallpaper Hanging &amp; Removal</li>
        <li>Refinishing</li>
        <li>Pressure Cleaning</li>
        <li>Staining &amp; Sealing</li>
        <li>Carpentry</li>
      </ul>
      <p>Our team of professionals are fully licensed, insured, and will treat your residence as if it were their own. Contact us today for a free estimate and consultation!</p>
      <p>Lean on our experience - just not your walls (at least until the paint's dry). </p>

    </div>

    <div class="col-md-3">
      <aside class="Sidebar-Item">
        <h2 class="title">Parente Painting</h2>

        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 32px;" valign="top"></th>
              <th valign="top"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><i class="glyphicon glyphicon-user"></i></th>
              <td><strong>Contact:</strong> {{site.owner}}</td>
            </tr>
            <tr>
              <th scope="row"><i class="glyphicon glyphicon-home"></i></th>
              <td><strong>Address:</strong> {{site.address}}</td>
            </tr>
            <tr>
              <th scope="row"><i class="glyphicon glyphicon-phone"></i></th>
              <td><strong>Phone:</strong> {{site.phone}}</td>
            </tr>
            <tr>
              <th scope="row"><i class="glyphicon glyphicon-envelope"></i></th>
              <td><a href="mailto:{{site.email}}">{{site.email}}</a></td>
            </tr>
          </tbody>
        </table>
      </aside>

    </div>

  </div>

</section>

<section id="projects">

  <div class="row">

    <div class="col-md-offset-2 col-md-10">

      {% include projects.html %}

    </div>

  </div>

</section>

<section id="reviews">

  <div class="row">

    <div class="col-md-offset-2 col-md-10">

      {% include reviews.html %}

    </div>

  </div>

</section>
