<footer>
  <div class="container">
    <a class="navbar-brand" href="#"><img src="img/logowhite.png"></a>
    <p style="padding-top: 24px; font-size: 12px;">&copy; 2014 Parente Painting | All rights reserved | 58 Hillside Avenue, New Rochelle, NY 10801 | Website by <a target="_blank" href="//91ferns.com" style="color:#056838; font-weight: bold;">91ferns Web Development</a></p>
  </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ "/js/vendor/jquery-1.10.1.min.js" | prepend: site.baseurl }}"><\/script>')</script>

<script src="{{ "/js/vendor/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="//unslider.com/unslider.min.js"></script>
<script src="{{ "js/main.js" | prepend: site.baseurl }}"></script>


<script>
var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src='//www.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
