<div class="gallery clearfix">

  <h2>{{site.projects.size}} Projects</h2>

  <div class="row">
    {% for project in site.projects %}

    <div class="col-sm-6 col-md-4">
      <div id="carousel-projects-{{project.name}}" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          {% for image in project.images %}
          <div class="item{% if forloop.first == true %} active{% endif %}">
            <img src="{{image}}" alt="Slide" class="img-responsive">
            <!--
            <div class="carousel-caption">

            </div>
          -->
          </div>
          {% endfor %}
        </div>

        <div class="caption">
          <h4>{{project.name}}</h4>
          <h5>{{project.images.size}} Photos</h5>
        </div>

      </div>
    </div>

    {% endfor %}
  </div>


</div>
