<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<body data-spy="scroll" data-target=".navbar-default">

  {% include head.html %}

    <body>

    <div class="container" id="main-wrapper">

      {% include header.html %}

      <div class="page-content">
        <div class="wrap">
        {{ content }}
        </div>
      </div>

    </div>

    {% include footer.html %}

    {% include modal.html %}

    </body>
</html>
